<!DOCTYPE html>
<html>
<head>
    <title>Загрузка XML</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <h1>Загрузка XML с объявлениями</h1>
    <div class="upload-box">
        <form id="uploadForm" enctype="multipart/form-data">
            <input type="file" name="xml_file" id="xmlFile" accept=".xml" required>
            <button type="submit">Загрузить</button>
        </form>
        <div class="progress" id="progress">
            <progress value="0" max="100"></progress>
            <span id="progressText">0%</span>
        </div>
        <div id="status"></div>
    </div>
    <script src="/static/js/main.js"></script>
</body>
</html>